# Ignora directory e file generati da IDE
.idea/

# Ignora file e directory di build e metrica
bin/
log/
build/
profiling_files/
gdal-2.4.0/
metric_latency.json

# Ignora file oggetto e di compilazione
*.o
